includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - resources

    # The level 9 is the highest level
    level: 8

    excludePaths:
        - app/Domain/*/Enums
        - app/Domain/Products/Casts/KopecksCast.php
        - */enums.php

    ignoreErrors:
        - '#App\\Domain\\[a-zA-Z]+\\Enums#'
        - '#Cannot access property \$value on string#'

    checkMissingIterableValueType: false
