<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>./app/Domains/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./app/Domains/*/Tests/Feature</directory>
        </testsuite>
        <testsuite name="Admin">
            <directory>./app/Domains/*/Tests/Admin</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CLOCKWORK_ENABLE" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SCOUT_QUEUE" value="false"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="SENTRY_LARAVEL_DSN" value="null"/>
        <env name="LOG_CHANNEL" value="daily"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Domains/*/Database/*</directory>
            <directory suffix=".php">./app/Domains/*/Resources/Lang/*</directory>
            <directory suffix=".php">./app/Domains/*/Tests/*</directory>
            <directory suffix=".php">./app/Components/*/Database/*</directory>
            <directory suffix=".php">./app/Components/*/Resources/Lang/*</directory>
            <directory suffix=".php">./app/Components/*/Tests/*</directory>
            <directory suffix=".php">./app/*/*/*/Virtual</directory>
            <directory suffix=".php">./app/*/*/*/Virtual/*</directory>
            <directory suffix=".php">./app/*/*/*/*/Virtual</directory>
            <directory suffix=".php">./app/*/*/*/*/Virtual/*</directory>
            <directory suffix=".php">./app/*/*/*/*/*/Virtual</directory>
            <directory suffix=".php">./app/*/*/*/*/*/Virtual/*</directory>
        </exclude>
    </source>
</phpunit>
