<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./app/Domains/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./app/Application/Tests/Feature</directory>
            <directory suffix="Test.php">./app/Domains/*/Tests/Feature</directory>
        </testsuite>
        <testsuite name="Admin">
            <directory suffix="Test.php">./app/Domains/*/Tests/Admin</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <exclude>
            <directory>./app/Domains/*/Database/*</directory>
            <directory>./app/Domains/*/Resources/Lang/*</directory>
            <directory>./app/Domains/*/Tests/*</directory>
            <directory>./app/Components/*/Database/*</directory>
            <directory>./app/Components/*/Resources/Lang/*</directory>
            <directory>./app/Components/*/Tests/*</directory>
        </exclude>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="DB_CONNECTION" value="pgsql_test"/>
        <env name="REDIS_HOST" value="redis_test"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
